{% extends "base.html" %}
{% block content %}
<div>
    <p>Charity Now was created to give donors a way to target their giving and get a thorough accounting of how their contribution impacts the the cause they are supporting. There are countless ways to give, but Charity Now strives to remove any doubt about how funds are being used and to apply donations directly to specific goals and milestones. Through the Charity Now platform donors can choose exactly how their contributions will provide an impact, without the need to spend copious amounts of time researching worthy causes.
    </p>
<p>The platform is divided into charitable projects and specific funding goals for each project. Funding goals may also be divided into milestones. Funds are only distributed to the projects when the entire goal or milestone is reached. Each project is encouraged to create many goals and milestones and as funding is distributed projects are required to provide evidence of how the funding is spent. In addition to accounting evidence, such as receipts and statements, pictures and stories are welcomed to provide a way for donors to see their support in action!
</p>
<p>Not all projects are accepted by Charity Now. Each project is individually reviewed. Interviews are conducted with stakeholders to ensure the project is a good fit. Charity Now aims to garner the trust of project donors by thoroughly vetting projects and ensuring that donations are applied exactly as expected to the desired goal or milestone. Projects are periodically reviewed to ensure the goals and milestones still reflect the activities of the project. In the event a goal or milestone is not reached, then 100% of promised funds are returned to the donor.
</p>
    <p>Start today and browse the projects. <a href="{% url 'register' %}">Sign up</a> to receive news about projects that interest you. Volunteer to get involved either directly with projects, or with Charity Now to keep the organization running. Are you involved, or know about a charitable project that could benefit from the Charity Now platform? Apply on behalf of your project to be featured on the Charity Now platform.
    </p>

</div>
{% endblock %}